


body {
    background-color:#D3BEFB;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
  
      
}


h1{
    padding-bottom: 80px;
   color: #3F4B41;
}

h2 {
    font-size: 28px;
    font-weight:900;
    color: #FAF9F6;
     text-decoration: underline;
     text-decoration-color: #23022E;
}

#all-sections{
    text-align: center;
    max-width: 500px;
    margin: auto;
}

/* navbar */
nav {
    display: inline-block;
   justify-content: center;
   padding: 15px;
   width: 50%;
    margin: auto;

}

nav a{
    width: 25%;
   padding: 12px;
   text-align: center;
   float: none;

}
/* about section */

p{
    
    font-size: 15px;

}

/* exp section */

    /* color: #405c4d */

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}
/* job title and dates */
.col{
flex: 1 0 45%;
width: 50%;
font-weight: bold;
}

/* job description */
.row{
    flex-basis: 100%;
    width: 25%;
    padding: 10px 10px 20px 10px;
    margin: auto;
}

/* projects section */
#projects ul{
    list-style: none;
}

/* skill section */
#skills ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 2em;
}

/* connect section */
#social li{
    display: inline;
    padding: 2em;
}

a:link{
    color:#405c4d ; 
}
a:visited{
   color: #1b4481;
}
#connect{
    margin-bottom: 3em;
}
/* footer */

footer{
    padding-top: 5rem;
   position: relative;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: black;
    text-align: center;
}

/* form */
#form{
   
    text-align: center; 
   box-sizing: border-box;
}
.form-box{
    border: black solid 1px;
    width: 25%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;
    
}
label, input, textarea, button {
    display: block;
    margin-bottom: 300px;
    width: 20%;
     margin: 0 auto 10px auto;
    padding: 7px;
    box-sizing: border-box;
}

#messages{
    text-align: center;
    
}

#messages, ul {
    list-style: none;
}

button {
    margin-top: 1rem;

    width: auto;
    display: block;
    
}
textarea {
    resize: none;
    height: 80px;
}


/* mobile media query */
@media only screen and (max-width: 600px) {
    body{
        margin: 1em;
    }

    h1{
        padding-bottom: 0.5px;
       font-size: 1.5rem;
       text-align: center;
    }

    h2{
        font-size: 1.3rem;
}
#skills{
    margin: 0.5em;
}
footer{
    padding-top: 1em;
}
#connect ul {
    padding: 0.3em;
}

}

nav {
    display: block;
    height: auto;
    
}

.form-box{
    width: 100%;
}



/* tablet media query */
@media only screen and (min-width: 600px) {
    body{
        margin: 0;
        padding:0;
    }

nav{
    display: flex;
    justify-content:space-between;
    max-width: 70%;
}

h1{
    padding-bottom: 0.5px;
    text-align: center;
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
}

}

